Repository zhenwang23/now, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/testing, area/setup, area/core, area/entrypoint, area/housekeeping, area/cicd, area/docker, area/script, component/cli, component/data, component/deploymeny, component/finetuning

fix: fix jina version
  requirements.txt
  requirements_pip.txt
Labels: area/setup

fix: fixed jina version
  requirements.txt
  requirements_pip.txt
Labels: area/setup

fix: jina version
  requirements.txt
  requirements_pip.txt
Labels: area/setup

fix: update jina version
  requirements.txt
  requirements_pip.txt
Labels: area/setup

fix: version and num pods
  now/deployment/flow.py
  requirements.txt
  requirements_pip.txt
Labels: area/setup, area/core, component/deploymeny

fix: fixed jina version (#109)
  requirements.txt
  requirements_pip.txt
Labels: area/setup

fix: update frontend version (#108)
  now/frontend/deploy-frontend-docker.sh
  now/run_all_k8s.py
  now/run_frontend.py
Labels: area/core

feat: image-to-text search small lyrics dataset
  now/data_loading/build_datasets.py
  now/data_loading/data_loading.py
  now/data_loading/embed_datasets.py
  now/deployment/flow.py
  now/deployment/k8s_frontend-deployment.yml
  now/dialog.py
  now/frontend/frontend.py
  now/run_all_k8s.py
  now/run_backend.py
  now/run_frontend.py
Labels: area/core, component/data, component/deploymeny

feat: image-to-text search small lyrics dataset
  now/data_loading/embed_datasets.py
Labels: area/core, component/data

fix: update version
  requirements.txt
  requirements_pip.txt
Labels: area/setup

feat(image-to-text): refactored build_datasets.py and frontend.py
  now/data_loading/build_datasets.py
  now/data_loading/embed_datasets.py
  now/frontend/frontend.py
Labels: area/core, component/data

docs: update readme
  README.md
Labels: area/docs

docs: update
  README.md
Labels: area/docs

docs: update
  README.md
Labels: area/docs

docs: readme
  README.md
Labels: area/docs

feat(image-to-text): fix import clip error
  now/data_loading/embed_datasets.py
Labels: area/core, component/data

feat(image-to-text): added rock, pop, rap, indie, metal lyrics
  now/data_loading/utils.py
  now/dialog.py
  now/frontend/frontend.py
  now/run_backend.py
Labels: area/core, component/data

refactor(dialog): remove literal
  now/dialog.py
Labels: area/core

docs(dialog): add module description
  now/dialog.py
Labels: area/core

docs: hide examples
  README.md
Labels: area/docs

test(dialog): add unit tests
  now/cli/parser.py
  now/dialog.py
  requirements-dev.txt
  tests/unit/test_dialog.py
Labels: area/testing, area/core, component/cli

test(dialog): patch gke install
  tests/unit/test_dialog.py
Labels: area/testing

feat(image-to-text): increase timeout for ci
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd

docs: readme update
  README.md
Labels: area/docs

docs: update
  README.md
Labels: area/docs

test(backend): fix cli parsing
  now/cli/parser.py
  now/cloud_manager.py
  now/data_loading/data_loading.py
  now/dialog.py
  now/run_all_k8s.py
  now/run_backend.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, component/cli, component/data

feat(image-to-text): increase jina version to fix circular imports
  requirements.txt
  requirements_pip.txt
Labels: area/setup

docs(tracking): add google analytics and scarf tracking
  docs/_templates/page.html
  docs/conf.py
Labels: area/docs

refactor(dialog): replace classes by functions
  now/cloud_manager.py
  now/dialog.py
  now/gke_deploy.py
  now/run_all_k8s.py
  tests/unit/test_dialog.py
Labels: area/testing, area/core

docs: update readme
  README.md
Labels: area/docs

fix(dialog): fix parse kwargs
  now/dialog.py
Labels: area/core

docs(tracking): add google analytics and scarf tracking (#115)
  docs/_templates/page.html
  docs/conf.py
Labels: area/docs

fix(dialog): remove dataset from kwargs
  now/run_all_k8s.py
Labels: area/core

feat(image-to-text): added end-to-end test
  .github/workflows/ci.yml
  now/frontend/frontend.py
  now/run_all_k8s.py
  now/run_backend.py
  now/run_frontend.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, area/housekeeping, area/cicd

feat(image-to-text): added end-to-end test
  tests/integration/test_end_to_end.py
Labels: area/testing

docs: update readme
  README.md
Labels: area/docs

feat(image-to-text): added end-to-end test
  now/cloud_manager.py
  now/deployment/flow.py
  now/dialog.py
  now/finetuning/finetuning.py
  now/frontend/deploy-frontend-docker.sh
  now/frontend/requirements.txt
  now/run_backend.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, component/deploymeny, component/finetuning

fix: version
  requirements.txt
Labels: area/setup

feat(image-to-text): fixed frontend
  now/frontend/frontend.py
  now/run_all_k8s.py
Labels: area/core

feat(image-to-text): increase timeout for image-to-text search
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
area/docs:
  - docs/**/*
  - ./*.md

area/testing:
  - tests/**/*

area/setup:
  - setup.py
  - setup.cfg
  - requirements.txt
  - requirements_pip.txt
  - MANIFEST.in

area/core:
  - now/**/*

area/entrypoint:
  - now/cli/__init__.py

area/housekeeping:
  - .github/**/*
  - ./.gitignore
  - ./*.yaml
  - ./*.yml

area/cicd:
  - .github/workflows/**/*

area/docker:
  - Dockerfiles/**/*
  - ./.dockerignore

area/script:
  - scripts/**/*

component/cli:
  - now/cli/**/*

component/data:
  - now/data_loading/**/*

component/deploymeny:
  - now/deployment/**/*

component/finetuning:
  - now/finetuning/**/*
