Repository zhenwang23/now, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/testing, area/setup, area/core, area/entrypoint, area/housekeeping, area/cicd, area/docker, area/script, component/cli, component/data, component/deploymeny, component/finetuning

fix(resize-images): resizing images to 256, 256 implemented
  now/data_loading/convert_datasets_to_jpeg.py
  now/deployment/flow.py
Labels: area/core, component/data, component/deploymeny

fix: use cpu only
  now/utils.py
Labels: area/core

fix: remove conversion as it is not needed
  now/hub/head_encoder/head_encoder.py
Labels: area/core

fix: use cpu only (#92)
  now/hub/head_encoder/head_encoder.py
  now/utils.py
Labels: area/core

fix: use command to get context lists
  now/dialog.py
  now/run_all_k8s.py
  now/system_information.py
Labels: area/core

test(integration): implemented end-to-end for backend
  .github/workflows/ci.yml
  now/cloud_manager.py
  now/dialog.py
  now/run_all_k8s.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core, area/housekeeping, area/cicd

fix: use command to get context lists (#93)
  now/dialog.py
  now/run_all_k8s.py
  now/system_information.py
Labels: area/core

feat: thumbnail images to (256, 256)
  .pre-commit-config.yaml
  now/data_loading/convert_datasets_to_jpeg.py
  now/data_loading/data_loading.py
Labels: area/core, area/housekeeping, component/data

test(integration): removed ci.yml changes
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd

test(integration): update timeout to 3 hours
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd

feat: add slider for confidence filtering
  now/frontend/frontend.py
Labels: area/core

docs: extend documentation
  README.md
Labels: area/docs

Update CNAME
  docs/CNAME
Labels: area/docs

test(integration): changed to only one test
  tests/integration/test_end_to_end.py
Labels: area/testing

feat: thumbnail images to (256, 256) (#94)
  .pre-commit-config.yaml
  now/data_loading/convert_datasets_to_jpeg.py
  now/data_loading/data_loading.py
Labels: area/core, area/housekeeping, component/data

fix: fix the url for docs deployment
  .github/workflows/force-docs-build.yml
Labels: area/housekeeping, area/cicd

fix(ci): update workflows without release_token
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/force-release.yml
  .github/workflows/label-pr.yml
  .github/workflows/tag.yml
Labels: area/housekeeping, area/cicd

fix: show uploader image and conf threshold
  now/frontend/frontend.py
Labels: area/core

test(integration): changed to macos
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd

test(integration): linting requires ubuntu
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd

test(integration): fix for macos
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd

test(integration): fix for macos runner
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd

test(integration): build docker for macos runner
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd

test(integration): build docker for macos runner
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd

test(integration): fixed typo
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd

test(integration): one ubuntu test
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd

test(integration): ubuntu with 45 min timeout
  .github/workflows/ci.yml
Labels: area/housekeeping, area/cicd

fix: move slider to bottom
  now/frontend/frontend.py
Labels: area/core

Test for integration end-to-end (#87)
  .github/workflows/ci.yml
  now/cloud_manager.py
  now/dialog.py
  now/run_all_k8s.py
  requirements.txt
  tests/integration/__init__.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/setup, area/core, area/housekeeping, area/cicd

feat: add slider for confidence filtering (#95)
  now/frontend/frontend.py
Labels: area/core

feat: no head deployments
  .gitignore
  now/deployment/flow.py
  requirements.txt
  requirements_pip.txt
Labels: area/setup, area/core, area/housekeeping, component/deploymeny

feat: sandbox support
  now/deployment/flow.py
  now/finetuning/finetuning.py
Labels: area/core, component/deploymeny, component/finetuning

test: with finetuning
  tests/integration/test_end_to_end.py
Labels: area/testing

test: different configuration
  now/run_all_k8s.py
  tests/integration/test_end_to_end.py
Labels: area/testing, area/core

fix: have only one custom dataset list
  now/dialog.py
Labels: area/core

feat: no head deployments (#100)
  .gitignore
  now/deployment/flow.py
  now/dialog.py
  now/run_all_k8s.py
  requirements.txt
  requirements_pip.txt
  tests/integration/test_end_to_end.py
Labels: area/testing, area/setup, area/core, area/housekeeping, component/deploymeny

feat(dialog): add modality selection
  now/cli/__init__.py
  now/cli/parser.py
  now/dialog.py
  now/run_all_k8s.py
  now/system_information.py
Labels: area/core, area/entrypoint, component/cli

refactor(parser): use single quote
  now/cli/parser.py
Labels: area/core, component/cli

refactor: remove unused files
  now/old/Dockerfile
  now/old/deploy-docker.sh
  now/old/run-docker.sh
Labels: area/core

fix: update frontend version
  now/frontend/deploy-frontend-docker.sh
  now/run_all_k8s.py
  now/run_frontend.py
Labels: area/core

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
area/docs:
  - docs/**/*
  - ./*.md

area/testing:
  - tests/**/*

area/setup:
  - setup.py
  - setup.cfg
  - requirements.txt
  - requirements_pip.txt
  - MANIFEST.in

area/core:
  - now/**/*

area/entrypoint:
  - now/cli/__init__.py

area/housekeeping:
  - .github/**/*
  - ./.gitignore
  - ./*.yaml
  - ./*.yml

area/cicd:
  - .github/workflows/**/*

area/docker:
  - Dockerfiles/**/*
  - ./.dockerignore

area/script:
  - scripts/**/*

component/cli:
  - now/cli/**/*

component/data:
  - now/data_loading/**/*

component/deploymeny:
  - now/deployment/**/*

component/finetuning:
  - now/finetuning/**/*
